*{
    margin: 0px;
    padding: 0px;

}

body{
    background-color: #F4F7FD;
    font-family: font-family: 'Roboto', sans-serif;;
}
.container{
    max-width: 1000px;
    background-color: #E3FDF2;
    margin: 0 auto;
    padding: 20px;
}
header{


}
.profile-image{
    height: 120px;
    width: 100px;
    border: 3px solid white;
    border-radius: 50%;
    float: left;
}
.header-bio{
    float: left;
    padding: 30px;
}
h1,h2,h3,h4,h5,h6{
    color: #11999e;
}
.header-contact{
    float: right;
    padding: 30px;
}
.header-contact a {
    text-decoration: none;
    color: teal;
    font-weight: bold;

}
.header-contact a:hover{
    text-decoration: underline;
    color: tomato;
}
.div-clear{
    clear: both;
}
hr{
    border: solid black 3px;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;

}

/* personal information starts here */
   
#personal-section{

}
.contant{
    margin-bottom: 30px;

}
.left-div{
    width: 30%;
    float: left;

}
.right-div{
    width: 70%;
    float: left;

}
.common-hr{
    border: solid black 1px;
    width: 100%;
    border-bottom: none;
    margin: 20px auto;
}

/* education section starts here */
.edu-template-left{
    float: left;
    width: 45%;

}
.edu-template-right{
    float: right;
    width: 45%;
}
/* foooter starts here */
.bottom-container{
    background: #000;
    text-align: center;
    padding: 10px;

}
.bottom-container a{
    color: white;
    text-decoration: none;
    margin: 20px;

}
.bottom-container p{
    color: white;
    margin-top: 20px;
}